@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Graphik LCG", serif;
  font-size: 0.833vw;
  cursor: default;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: #212121;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 120rem;
  height: 400.625rem;
  padding: 1rem;
  gap: 1rem;
}

.hero-block {
  width: 118rem;
  border-radius: 2rem;
  background: rgba(33, 33, 33, 0.0392156863);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 65.5rem;
  padding: 1rem;
  gap: 1rem;
}
.hero-block header {
  width: 116rem;
  height: 4.25rem;
  border-radius: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2rem;
}
.hero-block header .logo {
  font-size: 2rem;
  font-weight: 600;
  color: #212121;
}
.hero-block header nav {
  width: 45.25rem;
  height: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-block header nav a {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  color: rgba(33, 33, 33, 0.6392156863);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: -3%;
  text-decoration: none;
  -webkit-transition: 150ms ease-out;
  transition: 150ms ease-out;
  position: relative;
}
.hero-block header nav a:hover {
  color: #212121;
}
.hero-block header nav a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 0.0625rem;
  background: #000;
}
.hero-block header nav a::after {
  width: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.hero-block header nav a:hover:after {
  width: 100%;
}
.hero-block header button {
  width: 14.0625rem;
  height: 4.25rem;
  border-radius: 100rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: -3%;
  -webkit-transition: 150ms ease-out;
  transition: 150ms ease-out;
  cursor: pointer;
  border: 0.0625rem solid #2196F3;
  background-color: #FFF;
  color: #2196F3;
}
.hero-block header button:hover {
  background-color: #2196F3;
  color: #FFF;
}
.hero-block header button:active {
  background-color: #212121;
  border-color: #212121;
}
.hero-block .title {
  width: 116rem;
  height: 58.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-block .title .block {
  width: 48.875rem;
  height: 27.875rem;
  padding-left: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}
.hero-block .title .block .text-block {
  width: 45.875rem;
  height: 19.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.hero-block .title .block .text-block h1 {
  font-weight: 500;
  font-size: 6rem;
  line-height: 6rem;
  letter-spacing: -3%;
  text-align: center;
}
.hero-block .title .block .text-block p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: -3%;
  text-align: center;
}
.hero-block .title .block button {
  width: 18.6875rem;
  height: 4.25rem;
  background: #2196F3;
  color: #FFF;
  margin-left: 13.5938rem;
  border: none;
  border-radius: 100rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: -3%;
  -webkit-transition: 150ms ease-out;
  transition: 150ms ease-out;
  cursor: pointer;
}
.hero-block .title .block button:hover {
  background-color: #212121;
}
.hero-block .title .block button:active {
  -webkit-transition: 50ms;
  transition: 50ms;
  -webkit-transform: scale(0.99);
      -ms-transform: scale(0.99);
          transform: scale(0.99);
}
.hero-block .title .mp4 {
  width: 60.125rem;
  height: 58.25rem;
  border-radius: 1rem;
}
.hero-block .title .mp4 video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.cases-section {
  width: 118rem;
  border-radius: 2rem;
  background: rgba(33, 33, 33, 0.0392156863);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 65.5rem;
  padding: 4rem;
  gap: 8rem;
  display: block;
}
.cases-section .swipe-block {
  width: 110rem;
  height: 57.5rem;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cases-section .swipe-block .custom-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.25rem; /* Расстояние между элементами пагинации */
  margin-bottom: 2rem; /* Отступ между пагинацией и слайдером */
}
.cases-section .swipe-block .custom-pagination .pagination-svg {
  width: 6.25rem; /* Ширина каждого элемента пагинации */
  height: 0.375rem;
  cursor: pointer;
  -webkit-transition: fill-opacity 0.3s ease;
  transition: fill-opacity 0.3s ease; /* Анимация изменения прозрачности */
}
.cases-section .swipe-block .custom-pagination .pagination-svg rect {
  width: 100%;
  height: 100%;
  rx: 3; /* Закругленные углы */
  fill: #212121; /* Цвет элемента */
  fill-opacity: 0.08; /* Неактивное состояние */
}
.cases-section .swipe-block .custom-pagination .pagination-svg.active rect, .cases-section .swipe-block .custom-pagination .pagination-svg.completed rect {
  fill-opacity: 0.32; /* Активное и завершенное состояние */
}
.cases-section .swipe-block .swiper {
  width: 100%;
  height: 100%;
}
.cases-section .swipe-block .swiper-slide {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cases-section .swipe-block .swiper-slide .slide {
  width: 58rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cases-section .swipe-block .swiper-slide .slide .text-slide {
  width: 100%;
  height: 12.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cases-section .swipe-block .swiper-slide .slide .text-slide svg {
  width: 26rem;
  height: 0.375rem;
}
.cases-section .swipe-block .swiper-slide .slide .text-slide h1 {
  font-weight: 500;
  font-size: 4rem;
  line-height: 4.4rem;
  letter-spacing: -3%;
  text-align: center;
}
.cases-section .swipe-block .swiper-slide .slide .text-slide .init {
  width: 46.875rem;
  height: 4.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cases-section .swipe-block .swiper-slide .slide .text-slide .init p {
  padding: 1rem 1.5rem;
  border-radius: 100rem;
  background-color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.1rem;
  letter-spacing: -3%;
}
.cases-section .swipe-block .swiper-slide img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}
.cases-section .swipe-block .firstImg {
  width: 33.25rem;
  height: 110.9375rem;
}
.cases-section .swipe-block .secondImg {
  width: 58rem;
  height: 64.5625rem;
}
.cases-section .swipe-block .thirdImg {
  width: 58rem;
  height: 64.5625rem;
}
.cases-section .swipe-block .forthImg {
  width: 50.625rem;
  height: 56.4375rem;
}
.cases-section .swipe-block .swiper {
  margin-left: auto;
  margin-right: auto;
}
.cases-section .swipe-block .swiper-button-next,
.cases-section .swipe-block .swiper-button-prev {
  width: 6rem;
  height: 6rem;
  background-color: #fff;
  border-radius: 100rem;
  border: 0.0625rem solid rgba(33, 33, 33, 0.0784313725);
  background-image: none !important;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}
.cases-section .swipe-block .swiper-button-next::after,
.cases-section .swipe-block .swiper-button-prev::after {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(33, 33, 33, 0.2392156863);
}
.cases-section .swipe-block .swiper-button-next {
  right: 1rem;
}
.cases-section .swipe-block .swiper-button-prev {
  left: 1rem;
}

.tg-advantages-section {
  width: 118rem;
  border-radius: 2rem;
  background: rgba(33, 33, 33, 0.0392156863);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 35.375rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 6rem;
  gap: 3rem;
}
.tg-advantages-section .tg-advantages-card {
  width: 24.25rem;
  height: 23.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tg-advantages-section .tg-advantages-card img {
  width: 15rem;
  height: 15rem;
}
.tg-advantages-section .tg-advantages-card span {
  color: #212121;
}
.tg-advantages-section .tg-advantages-card p {
  width: 24.25rem;
  height: 6.375rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.1rem;
  letter-spacing: -3%;
  text-align: center;
  color: rgba(33, 33, 33, 0.4784313725);
}

.why-tg-section {
  width: 118rem;
  border-radius: 2rem;
  background: rgba(33, 33, 33, 0.0392156863);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 46.875rem;
  padding: 0 3rem 0 6rem;
  -ms-flex-direction: row;
      flex-direction: row;
  gap: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.why-tg-section img {
  width: 49rem;
  height: 46.875rem;
}
.why-tg-section .why-tg {
  width: 56rem;
  height: 32.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.why-tg-section .why-tg h1 {
  height: 4.375rem;
  font-weight: 500;
  font-size: 4rem;
  line-height: 4.4rem;
  letter-spacing: -3%;
}
.why-tg-section .why-tg ol {
  width: 56rem;
  height: 14.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  font-size: 1.5rem;
  list-style: none;
  counter-reset: custom-counter;
  padding: 0;
}
.why-tg-section .why-tg ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}
.why-tg-section .why-tg ol li::before {
  counter-increment: custom-counter;
  content: counter(custom-counter);
  font-size: 1.5rem;
  font-weight: 500;
  color: #2196F3;
  background-color: rgba(33, 150, 243, 0.0784313725);
  width: 2.625rem;
  height: 2.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 1rem;
}
.why-tg-section .why-tg .line {
  width: 56rem;
  height: 0;
  border: 0.0625rem solid rgba(33, 33, 33, 0.0784313725);
}
.why-tg-section .why-tg .why-tg-footer {
  width: 56rem;
  height: 5.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.0938rem;
}
.why-tg-section .why-tg .why-tg-footer p {
  width: 27.375rem;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: -3%;
  color: rgba(33, 33, 33, 0.4784313725);
}

.showcases-section {
  width: 118rem;
  border-radius: 2rem;
  background: rgba(33, 33, 33, 0.0392156863);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50.75rem;
  -ms-flex-direction: row;
      flex-direction: row;
  gap: 1rem;
  background: none;
}
.showcases-section img {
  width: 80rem;
  height: 50.75rem;
  border-radius: 2rem;
}
.showcases-section .left-block {
  width: 37rem;
  height: 50.75rem;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem;
  background: rgba(33, 33, 33, 0.0392156863);
}
.showcases-section .left-block .text {
  width: 22.625rem;
  height: 20.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.showcases-section .left-block .text h2 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: -3%;
}
.showcases-section .left-block .text p {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: -3%;
  color: rgba(33, 33, 33, 0.4784313725);
}
.showcases-section .left-block .SK {
  width: 13.7281rem;
  height: 4rem;
}

.how-it-works-section {
  width: 118rem;
  border-radius: 2rem;
  background: rgba(33, 33, 33, 0.0392156863);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 77.375rem;
  padding: 6rem;
  gap: 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.how-it-works-section .description {
  width: 89rem;
  height: 27.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}
.how-it-works-section .description p {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.45rem;
  letter-spacing: -3%;
  color: rgba(33, 33, 33, 0.6392156863);
  text-align: center;
}
.how-it-works-section .description .how {
  width: 89rem;
  height: 18.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.how-it-works-section .description .how h1 {
  font-weight: 500;
  font-size: 4rem;
  line-height: 4.4rem;
  letter-spacing: -3%;
  text-align: center;
}
.how-it-works-section .description .how .grid-blocks {
  width: 89rem;
  height: 11.0625rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.how-it-works-section .description .how .grid-blocks .block {
  width: 29rem;
  height: 11.0625rem;
  border-radius: 1rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
  background-color: #fff;
}
.how-it-works-section .description .how .grid-blocks .block h2 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: -3%;
}
.how-it-works-section .description .how .grid-blocks .block p {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: -3%;
  color: #212121;
  width: 25rem;
  height: 3.5rem;
  text-align: start;
}
.how-it-works-section .map {
  width: 101.25rem;
  height: 32.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.how-it-works-section .map img {
  width: 18.75rem;
  height: 18.75rem;
}
.how-it-works-section .map p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: -3%;
  color: rgba(33, 33, 33, 0.4784313725);
  background-color: #eeeeee;
  padding: 1rem 1.5rem;
  border-radius: 100rem;
}
.how-it-works-section .map .search {
  width: 25.4688rem;
  height: 18.75rem;
  position: absolute;
  top: 0;
  left: 0;
}
.how-it-works-section .map .search img {
  position: absolute;
  top: 0;
  left: 1.4844rem;
}
.how-it-works-section .map .search .research {
  position: absolute;
  top: 0;
  left: 0;
}
.how-it-works-section .map .search .preparation {
  position: absolute;
  top: 3.125rem;
  left: 16.3281rem;
}
.how-it-works-section .map .search .generation {
  position: absolute;
  top: 15.0781rem;
  left: 8.4375rem;
}
.how-it-works-section .map .dev {
  width: 26.4063rem;
  height: 20.5469rem;
  position: absolute;
  top: 11.5625rem;
  left: 31.875rem;
}
.how-it-works-section .map .dev img {
  position: absolute;
  top: 0;
  left: 0.625rem;
}
.how-it-works-section .map .dev .release {
  position: absolute;
  top: 1.0938rem;
  left: 0;
}
.how-it-works-section .map .dev .development {
  position: absolute;
  top: 6.1719rem;
  left: 17.3438rem;
}
.how-it-works-section .map .dev .designing {
  position: absolute;
  top: 16.9531rem;
  left: 3.5938rem;
}
.how-it-works-section .map .sup {
  width: 30.4688rem;
  height: 20.3125rem;
  position: absolute;
  top: 2.6563rem;
  left: 57.1875rem;
}
.how-it-works-section .map .sup img {
  position: absolute;
  top: 0;
  left: 5.3906rem;
}
.how-it-works-section .map .sup .viewing {
  position: absolute;
  top: 0.4688rem;
  left: 0;
}
.how-it-works-section .map .sup .promotion {
  position: absolute;
  top: 2.9688rem;
  left: 20rem;
}
.how-it-works-section .map .sup .support {
  position: absolute;
  top: 16.7188rem;
  left: 12.8125rem;
}
.how-it-works-section .map .line1 {
  position: absolute;
  top: 11.625rem;
  left: 20.0625rem;
  width: 14.3362rem;
  height: 14.19rem;
}
.how-it-works-section .map .line2 {
  position: absolute;
  top: 10.5625rem;
  left: 49.5625rem;
  width: 13.125rem;
  height: 5.0888rem;
}
.how-it-works-section .map .line3 {
  position: absolute;
  top: 15.3125rem;
  left: 80.8125rem;
  width: 8.5156rem;
  height: 9.3994rem;
}
.how-it-works-section .map .TG {
  position: absolute;
  top: 17.6619rem;
  left: 88.75rem;
  width: 12.5rem;
  height: 12.4819rem;
}

footer {
  width: 118rem;
  border-radius: 2rem;
  background: rgba(33, 33, 33, 0.0392156863);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 51.25rem;
  padding: 8rem;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  gap: 8rem;
  background: #2196F3;
  color: #fff;
}
footer .CTA-block {
  width: 43rem;
  height: 35.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .CTA-block p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: -3%;
  color: rgba(255, 255, 255, 0.3215686275);
}
footer .CTA-block .CTA {
  width: 43rem;
  height: 26.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
footer .CTA-block .CTA h1 {
  font-weight: 500;
  font-size: 4rem;
  line-height: 4.4rem;
  letter-spacing: -3%;
  width: 43rem;
  height: 17.5rem;
}
footer .CTA-block .CTA h2 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.1rem;
  letter-spacing: -3%;
  width: 26.25rem;
  height: 6.375rem;
}
footer .input-block {
  width: 51rem;
  height: 35.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .input-block button {
  border-radius: 100rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: -3%;
  -webkit-transition: 150ms ease-out;
  transition: 150ms ease-out;
  cursor: pointer;
  width: 51rem;
  height: 6.4375rem;
  border: none;
  background: #212121;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.45rem;
  letter-spacing: -3%;
  color: #fff;
}
footer .input-block button:hover {
  background-color: #0e4d80;
}
footer .input-block button:active {
  -webkit-transform: scale(0.99);
      -ms-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-transition: 50ms;
  transition: 50ms;
}
footer .input-block p {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: -3%;
  text-align: center;
  width: 30rem;
}
footer .input-block .inputs {
  width: 51rem;
  height: 21.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
footer .input-block .inputs input {
  width: 51rem;
  height: 6.4375rem;
  border: none;
  border-radius: 100rem;
  padding: 2rem 3rem;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.45rem;
  letter-spacing: -3%;
}
footer .input-block .inputs input:focus {
  outline: none;
  border: none;
}
footer .input-block .inputs .names {
  width: 51rem;
  height: 6.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
footer .input-block .inputs .names input {
  width: 25rem;
}